.login {
	background-image: url(../images/login.jpg) !important;
}
.acesso {
	background-image: url(../images/login.png) !important;
}
.logo-viewport {
	background-image: url(../images/bg-viewport.jpg) !important; 
}
.cadeado {
	background-image: url(../images/lock.png);
}
.usuario {
	background-image: url(../images/user.png);
}
.janela {
	background-image: url(../images/window.png);
}
.sobre {
	background-image: url(../images/about.png);
}
.menu {
	background-image: url(../images/menu.png);
}
.opcoes {
	background-image: url(../images/option.png);
}
.novo {
	background-image: url(../images/add.png);
}
.excluir {
	background-image: url(../images/trash.png);
}
.cancelar {
	background-image: url(../images/cancel.png);
}
.cadastro {
	background-image: url(../images/form.png);
}
.listagem {
	background-image: url(../images/list.png);
}
.peca {
	background-image: url(../images/puzzle.png);
}
.enviar {
	background-image: url(../images/action.png);
}
.oferta {
	background-image: url(../images/cart.png);
}
.imagens {
	background-image: url(../images/photos.png);
}
.sugestoes {
	background-image: url(../images/doc-list.png);
}
.comentarios {
	background-image: url(../images/comment.png);
}
.relato {
	background-image: url(../images/relato.png);
}
.pdf {
	background-image: url(../images/pdf.png);
}
.lupa {
	background-image: url(../images/lupa.png);
}
.imprimir {
	background-image: url(../images/report.png);
}

/* configurações da aplicação */
#appFooter {
	margin: 5px 0 0 0;
    color: #000;
}

/* Ajuste na tab do panel pra não cortar o ícone 16 x 16 */
.x-tab-icon {
	background-position: 0;        
}
.user-icon {
    background-image: url(../images/user-icon.png) !important;
}
#sobre {
	text-align:center;    
}
#viewImagens .x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
#viewImagens .thumb{
    background: #dddddd;
    padding: 3px;
    padding-bottom: 0;
}

.x-quirks #viewImagens .thumb {
    padding-bottom: 3px;
}

#viewImagens .thumb img{
    height: 60px;
    width: 80px;
}
#viewImagens .thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
#viewImagens .thumb-wrap span {
    
    display: block;
    overflow: hidden;
    text-align: center;
    width: 86px; /* for ie to ensure that the text is centered */
}

#viewImagens .x-item-over{
    border:1px solid #dddddd;
    background: #efefef url(../images/over.gif) repeat-x left top;
    padding: 4px;
}

#viewImagens .x-item-selected{
    background: #FCFCFC url(../images/selected.gif) no-repeat right bottom;
    border:1px solid #E5E5E5;
    padding: 4px;
}
#viewImagens .x-item-selected .thumb{
    background:transparent;
}

#viewImagens .loading-indicator {
    font-size:11px;
    background-image:url('../../resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}
.ext-strict .ext-ie .x-tree .x-panel-bwrap{
    position:relative;
    overflow:hidden;
}
.x-item-disabled-oferta {   
    color: black;
    padding: 1px 3px 2px 3px;
    background: white repeat-x 0 0;
    border-width: 0px;
    border-style: solid;
    border-color: #b5b8c8;
    background-image: url(images/form/text-bg.gif);
    height: 22px;
    line-height: 17px;
}
#entrada {
	text-align: center;
	font-family: Calibri;
	font-size: 24px;
}
.primer { 
	font-weight: bold;
	font-size: 36px;	 
}